<footer >
    <div class="f-info border-top ">
        <div class="f-info-social">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="copy">Copyright &copy; 2026 Wanderslust pvt. Ltd.</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            &ensp;
            <a href="#">Terms &amp; conditions</a>
            &ensp;
            <a href="#">Contact us</a>
        </div>
    </div>
</footer>